<!--Daniel-->
<div *ngIf="identity" class="row">
  <div *ngIf="identity" class="navigation col-lg-1">
    <h1 class="head-title">
      <a [routerLink]="['/']">
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        {{title}}
      </a>
    </h1>
    <nav id="navegation">
      <a href="#">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Buscar
      </a>
      <a [routerLink]="['/artists', 1]">
        <span class="glyphicon glyphicon-start" aria-hidden="true"></span>
        Artista
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        Albums
      </a>
    </nav>
  
    <nav id="user_logged">
      <div class="user-image">
        <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" >
      </div>
      <span id="identity_name">
        {{identity.name}} {{identity.surname}}
      </span>
      
      <a [routerLink]="['/mis-datos']">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Mis datos
      </a>
      <span class="btn btn-warning logout" (click)="logout()">
        salir
      </span>
    </nav>
    
  </div>
  <div [class.hidden]="!identity" class="center col-lg-6">
    
    <router-outlet></router-outlet>
  </div>
</div>

<!--LOGIN si no esta logeado que se identifique.-->
<div class="row" *ngIf="!identity">
  <div class="col">
    <img src="/LogoPodks_.png" alt="Logo">
  </div>
  <div class="w-100"></div>
  <div class="col-lg-1"></div>
  <div class="col">
    <h1>Identificate</h1>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <strong>Upps!</strong> {{errorMessage}}
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">

      <p>
        <label>Correo electronico: </label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
        <samp *ngIf="!email.valid && email.touched">
          <p>El email es obligatorio</p>
        </samp>
      </p>

      <p>
        <label>Contraseña: </label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control"
          required>
      </p>

      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>

  <!--Formulario de rgistro..-->

  <div class="col">
    <h1>Registrate</h1>
    <div class="alert alert-info" *ngIf="alertRegister">
      {{alertRegister}}
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-7">
      <p>
        <label>Nombre: </label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required>
        <samp class="alert-danger" *ngIf="!name.valid && name.touched">
          <p>El Nombre es obligatorio</p>
        </samp>
      </p>

      <p>
        <label>Apellidos: </label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control"
          required>
        <samp class="alert-danger" *ngIf="!surname.valid && surname.touched">
          <p>Los apellidos son obligatorios</p>
        </samp>
      </p>

      <p>
        <label>Correo electronico: </label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control"
          required>
        <samp class="alert-danger" *ngIf="!email.valid && email.touched">
          <p>El email es obligatorio</p>
        </samp>
      </p>

      <p>
        <label>Contraseña: </label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
          class="form-control" required>
        <samp class="alert-danger" *ngIf="!password.valid && password.touched">
          <p>La contraseña es obligatoria</p>
        </samp>
      </p>
      <input type="Submit" value="Registrar" class="btn btn-primary">
    </form>
  </div>
</div>